.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;

  .right-options,
  .left-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .right-options,
  .extended-menu {
    gap: 1rem;
  }
}
