<mat-toolbar>
  <span class="left-options"><mat-icon>store</mat-icon> {{ appName }}</span>
  <div class="right-options">
    <!-- extended options -->
    <div
      class="extended-menu d-none d-md-flex align-items-center justify-content-center"
    >
      <app-theme-toggler class="" />
      @if(authService.getAuth()){
      <button
        mat-raised-button
        color="primary"
        aria-label="user login"
        class="button-pill"
        (click)="handleLogout()"
      >
        <mat-icon>logout</mat-icon>
        Logout
      </button>
      } @else {<button
        mat-raised-button
        color="primary"
        aria-label="user login"
        class="button-pill"
        (click)="handleLogin()"
      >
        <mat-icon>login</mat-icon>
        Login</button
      >}
    </div>
    <!-- collapsed options -->
    <div class="d-block d-md-none">
      <button
        mat-icon-button
        color="primary"
        [matMenuTriggerFor]="userMenu"
        aria-label="user menu"
        class="menu-toggler button-pill"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <app-theme-toggler [menuItem]="true" />
        @if(authService.getAuth()){
        <button mat-menu-item (click)="handleLogout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
        } @else {
        <button mat-menu-item (click)="handleLogin()">
          <mat-icon>login</mat-icon>
          Login
        </button>
        }
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
