<h2 mat-dialog-title>Create New Product</h2>
<form [formGroup]="productFormGroup">
  <mat-dialog-content>
    <div class="mx-auto mb-4 overflow-hidden product-img-wrapper">
      <img
        [src]="randomImgUrl"
        alt="Photo of a new Product"
        height="300"
        class="img-fluid"
      />
    </div>

    <div class="form-row mb-2">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Product name</mat-label>
        <input matInput type="text" formControlName="name" />
        @if (productFormGroup.controls.name.hasError('required')) {
        <mat-error>name is required.</mat-error>
        } @if (productFormGroup.controls.name.hasError('pattern')) {
        <mat-error>name is invalid.</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-row mb-2">
      <mat-form-field appearance="outline" class="col-12 col-md-6">
        <mat-icon matPrefix>attach_money</mat-icon>
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
        @if (productFormGroup.controls.price.hasError('required')) {
        <mat-error>price is required.</mat-error>
        } @if (productFormGroup.controls.discount.hasError('min') ||
        productFormGroup.controls.price.hasError('min')) {
        <mat-error>price should be > 0.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-12 col-md-6">
        <mat-label>Discount</mat-label>
        <input matInput type="number" formControlName="discount" />
        <mat-icon matSuffix>percent</mat-icon>
        @if (productFormGroup.controls.discount.hasError('required')) {
        <mat-error>discount is required.</mat-error>
        } @if (productFormGroup.controls.discount.hasError('min') ||
        productFormGroup.controls.discount.hasError('max')) {
        <mat-error>discount between 0 and 100%.</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="button-pill">Cancel</button>
    <button
      mat-flat-button
      class="button-pill"
      color="primary"
      (click)="createProduct()"
    >
      Create
    </button>
  </mat-dialog-actions>
</form>
