.product-img-wrapper {
  width: fit-content;
  img {
    border-radius: 1rem;
    // max-height: 500px;
  }
}

.deal-ends {
  color: var(--theme-primary-color);
  font-family: monospace;
  font-weight: bold;
}

mat-dialog-content {
  max-height: 80vh;
}
