@if (!productsList.length) {
<div class="text-center w-100">
  <h3>No products created</h3>
</div>
} @else{
<div class="responsive-grid mt-3">
  @for (product of productsList; track product.product_asin) {
  <mat-card (click)="openProductModal(product.product_asin)">
    @if (authService.getAuth()) {
    <button
      mat-mini-fab
      color="primary"
      (click)="$event.stopPropagation()"
      [matMenuTriggerFor]="productOptions"
      aria-label="product menu options"
      class="product-options-toggler d-flex d-lg-none d-xl-none"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #productOptions="matMenu" xPosition="before">
      <button mat-menu-item (click)="editProduct(product)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button
        mat-menu-item
        class="delete-product-btn"
        (click)="deleteProduct(product.product_asin)"
      >
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
    }
    <div class="img-wrapper mb-2 text-center">
      <img
        mat-card-image
        [src]="product.deal_photo"
        alt="Photo of Product {{ product.deal_id }}"
        class="img-fluid"
      />
    </div>
    <mat-card-content>
      <div class="mb-2 d-flex align-items-center justify-content-between">
        <span class="tag deal-discount">
          -{{ product.savings_percentage }}%
        </span>
        <span class="text-color-theme-primary product-price">
          {{ product.deal_price.amount }} {{ product.deal_price.currency }}
        </span>
      </div>
      <p>
        {{ product.deal_title }}
      </p>
    </mat-card-content>
  </mat-card>
  }
</div>
}
